<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="4b87744b-ae21-4cfe-8996-92a341b80b52" Publisher="CN=godev" Version="1.0.0.0" />
  <Properties>
    <DisplayName>GoTray</DisplayName>
    <PublisherDisplayName>Srikanth &amp; Sachin</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="GoTray.App">
      <VisualElements DisplayName="GoTray" Logo="Assets\logo.png" SmallLogo="Assets\smallLogo.png" Description="Go Dashboard Built Using CCTray Feed From Go." ForegroundText="light" BackgroundColor="#464646" ToastCapable="true">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\splashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="privateNetworkClientServer" />
  </Capabilities>
</Package>